.idea
.DS_STORE
.eslintcache
*.swp
*~

/node_modules/*

/node_modules

/packages/*/build/
/packages/*/build-es5/
/packages/*/coverage/
/packages/*/node_modules/
/packages/*/package-lock.json

/website/build
/website/backers.json
/website/node_modules
/website/yarn.lock
/website/translated_docs
/website/i18n/*

/reports/*

coverage
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*
junit.xml

*.tsbuildinfo
